<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SpringMvc_01_Hello</display-name>

	<!-- Springmvc的前端控制器 -->
	<!-- 配置了一个serlvet 名字叫做 springDispatcherServlet -->
	<!-- 会去读取Springmvc的配置文件 -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- DispatcherServlet配置初始化参数： 指定Springmvc的核心配置文件 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<!-- load-on-startup: 设置DispatcherServlet在服务器启动时加载。 Servlet的创建时机： -->
		<!-- 1. 请求到达以后创建 -->
		<!-- 2. 服务器启动即创建 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 配置哪些请求被springMVC处理-->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<!-- 接受所有请求 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>