<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 1. 组件扫描 -->
	<!-- 指定扫描哪个包，包上面的注解会被扫描到，可以得到对应的url -->
	<context:component-scan
		base-package="hello"></context:component-scan>
	<!-- 2. 视图解析器 得到请求返回跳转的路径 -->
	<!-- 工作机制: prefix + 请求处理方法的返回值 + suffix = 物理视图路径. -->
	<!-- /WEB-INF/views/success.jsp 返回值为success -->
	<!-- WEB-INF: 是服务器内部路径。 不能直接从浏览器端访问该路径下的资源. 但是可以内部转发进行访问 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

</beans>
